{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <img src="{{ object.image.url }}" alt="" style="max-width: 100%">
            </div>
            <div class="col-lg-8 col-md-8">
                <h1>{{ object.name }}</h1>
                <p>{{ object.price }}</p>
                <p>{{ object.description }}</p>
            </div>
        </div>
        <div class="form__block mt-2">
            <form action="{% url 'core:addtocard' object.pk %}" method="post">
                {% csrf_token %}
                <input type="text" value="{{ object.pk }}" name='computer_id' class="d-none" readonly/>
                <p class="text-center">
                    <button class="btn btn-success">Добавить в корзину</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}